In [1]:
import pandas as pd
import numpy as np

In [2]:
shark = pd.read_csv('C:/Users/User/Desktop/IRONHACK/_Repositório/2_Projeto Shark/Project-Shark-Attack/data/attacks.csv', sep=',')

In [3]:
shark.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

In [4]:
shark.apply(lambda x: x['Injury'] if x['Fatal (Y/N)']=='Y' else 0, axis = 1 ).value_counts()

0                                                                                                                                   24335
FATAL                                                                                                                                 781
FATAL, body not recovered                                                                                                              24
FATAL, leg severed                                                                                                                     11
FATAL                                                                                                                                   7
                                                                                                                                    ...
FATAL, thigh and abdomen bitten                                                                                                         1
FATAL. His body was not recovered, but about 3 weeks later 2 sharks were caught with human remains, thought to be those of Quinn        1
FATAL, 3 passengers & 14 crew taken by sharks, captain, 1 passenger & 2 crew survived                                                   1
FATAL, body not recovered                                                                                                               1
FATAL, right forearm severed, lacerations from buttocks to heel L                                                                       1
Length: 514, dtype: int64

In [5]:
shark.shape

(25723, 24)

In [6]:
shark.drop_duplicates(keep='first', inplace= True)
shark.shape

(6312, 24)

In [7]:
shark

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson�McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6307,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6309.0,NaN,NaN
6308,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6310.0,NaN,NaN
6309,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8702,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
shark.dropna(axis=0, how='all', thresh= 0.8*24,inplace=True)
shark

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson�McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6265,ND.0038,1941-1942,0.0,Unprovoked,IRAQ,Basrah,Shatt-el Arab River near a small boat stand,Swimming,male,M,...,Bull shark,B.W. Coad & L.A.J. Al-Hassan,ND-0038-Shatt-al-Arab.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0038,ND.0038,38.0,NaN,NaN
6266,ND.0037,1940 - 1950,0.0,Unprovoked,SAUDI ARABIA,Eastern Province,East of the Ras Tanura-Jubail area,Diving,a pearl diver,M,...,"""a black-tipped shark""",G.F. Mead,ND-0037-PearlDiver-sepsis.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0037,ND.0037,37.0,NaN,NaN
6267,ND.0036,1940 - 1950,0.0,Unprovoked,SAUDI ARABIA,Eastern Province,East of the Ras Tanura-Jubail area,Diving,a fisherman / diver,M,...,6' shark,G.F. Mead,ND-0036-Fisherman-SaudiArabia.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0036,ND.0036,36.0,NaN,NaN
6296,ND.0006,Before 1906,0.0,Unprovoked,AUSTRALIA,New South Wales,,Swimming,Arab boy,M,...,Said to involve a grey nurse shark that leapt ...,"L. Becke in New York Sun, 9/9/1906; L. Schultz...",ND-0006-ArabBoy-Prymount.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0006,ND.0006,7.0,NaN,NaN
6301,ND.0001,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,...,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2.0,NaN,NaN

In [32]:
shark.isnull().sum()

Case Number                  0
Date                         0
Year                         0
Type                         0
Country                      0
Area                        46
Location                    50
Activity                    55
Name                         5
Sex                         60
Age                        879
Injury                       1
Fatal (Y/N)                212
Time                      1300
Species                   1311
Investigator or Source       3
pdf                          0
href formula                 0
href                         0
Case Number.1                0
Case Number.2                0
original order               0
Unnamed: 22               4139
Unnamed: 23               4138
dtype: int64

In [63]:
shark.loc[pd.isna(shark['Activity']),['Activity','Injury','Fatal (Y/N)']]

     Activity                                             Injury Fatal (Y/N)
47        NaN                              Injuries to right leg           N
108       NaN                  Bite to left thigh / minor injury           N
114       NaN                                        Foot bitten           N
182       NaN               Puncture wounds to lower arm or hand           N
245       NaN                               Minor injury to toes           N
255       NaN                                       Minor injury           N
300       NaN                         Superficial injury to foot           N
368       NaN                                  Right foot bitten           N
394       NaN                Lacerations to right hand & forearm           N
424       NaN                                Laceration to foot            N
462       NaN                                         Leg bitten           N
576       NaN  Injuries to wrist/hand by a mackerel, not a shark         NaN
628       NaN      Arm bitten by captive shark PROVOKED INCIDENT           N
761       NaN                      Shark involvement unconfirmed         NaN
878       NaN                                        Heel bitten           N
1238      NaN                          Lacerations to right foot           N
1393      NaN                Minor cuts to right buttock & thigh           N
1671      NaN                                        Foot bitten           N
1897      NaN                               No injury from shark           N
1955      NaN                  Right ankle & lower leg lacerated           N
2071      NaN                                  Right calf bitten           N
2161      NaN                2 one-inch lacerations in left foot           N
2296      NaN                                  Right foot bitten           N
2390      NaN  Dorsum of right hand bitten, a probable bluefi...         NaN
2391      NaN                      Puncture wounds on right foot           N
2650      NaN        No details, "recovering in Darwin Hospital"     UNKNOWN
2778      NaN                                    6" cut to thigh           N
2816      NaN                          Back of left thigh bitten           N
2937      NaN                         Lacerations to hand & foot           N
2981      NaN                                        Foot bitten           N
3260      NaN                                 Foot severed FATAL           Y
3427      NaN      Scrape on head. Recorded as PROVOKED INCIDENT           N
3438      NaN      Foot lacerated. Recorded as PROVOKED INCIDENT           N
3475      NaN                    Buttock, both legs & arm bitten           N
3478      NaN       Foot lacerated Recorded as PROVOKED INCIDENT           N
3498      NaN                                      Arm lacerated           N
3512      NaN                                              FATAL           Y
3526      NaN  Thigh abraded & lacerated Recorded as PROVOKED...           N
3534      NaN                                         Leg bitten           N
3612      NaN                                   Leg & arm bitten           N
3628      NaN  Thighs abraded, puncture wounds in dorsal surf...           N
3671      NaN   Arm lacerated by speared shark PROVOKED INCIDENT           N
3875      NaN  Foot & lower leg abraded and lacerated when he...           N
3942      NaN          Shark brushed past, minor injuries if any           N
4081      NaN                        FATAL, right thigh bitten             Y
4094      NaN                                     Minor injuries           N
4189      NaN                                              FATAL           Y
4190      NaN                                              FATAL           Y
4290      NaN                                              FATAL           Y
4608      NaN                                       Ankle bitten           N
4959      NaN                                           Survived           N
5737      NaN                                              FATAL           Y
5774      NaN  FATAL            Leg severed by harpooned shar...           Y
5818      NaN        Left hand severed, arm & right calf injured           N
5969      NaN                                              FATAL           Y

In [78]:
shark.loc[~pd.isna(shark['Activity']) & (shark['Activity']=='Swimming') ,['Activity','Injury','Fatal (Y/N)']].head(50)

     Activity                                             Injury Fatal (Y/N)
6    Swimming                                              FATAL           Y
12   Swimming                       Severe bite to right forearm           N
26   Swimming                      Lacerations to foot and ankle           N
33   Swimming  2 puncture wounds to left foot, abrasion to ri...           N
37   Swimming  No injury, said to have been charged by sharks...           N
40   Swimming                     Laceratons to right leg & foot           N
43   Swimming                   Collision / No injury, no attack           N
68   Swimming                               Minor injury to foot           N
70   Swimming            Severe lacerations to left hand & wrist           N
73   Swimming              Puncture wounds & lacerations to foot           N
88   Swimming                                     Minor injuries           N
93   Swimming                             Lacerations to abdomen           N
98   Swimming                           Lacerations to left foot         NaN
102  Swimming             Minor cuts to sole & toes of left foot           N
107  Swimming                 Abrasions and cuts to sole of foot         NaN
113  Swimming            Abrasion to arm from shark's rough skin           N
115  Swimming                                       Foot injured         NaN
121  Swimming                                  Lower legs bitten           N
126  Swimming                                   Left foot bitten           N
128  Swimming                                         Leg bitten           N
130  Swimming                          2-inch laceration to hand           N
146  Swimming                    Major injury to posterior thigh           N
153  Swimming          Laceration & puncture wounds to left foot         NaN
162  Swimming                          Minor injury to left hand           N
163  Swimming                                       Foot injured           N
164  Swimming                         Thigh nipped, minor injury           N
166  Swimming                              Lacerations to thighs           N
176  Swimming                                     Injury to hand           N
181  Swimming                    Minor laceration to ring finger           N
184  Swimming                                     Injury to hand           N
220  Swimming           Severe lacerations to shoulder & forearm           N
234  Swimming                          Lacerations to right hand           N
253  Swimming         Buttocks, thigh, left hand & wrist injured           N
266  Swimming                                         Leg bitten           N
268  Swimming          Leg severely bitten, surgically amputated           N
272  Swimming                       Injuries to arm and shoulder           N
273  Swimming                      Injury to posterior right leg           N
274  Swimming                           Puncture wounds to thigh           N
275  Swimming  Lacerations and puncture wounds to foot and ankle           N
276  Swimming                           Back, arm & hand injured           N
277  Swimming                                       Ankle bitten           N
284  Swimming                       Minor puncture wound to foot           N
302  Swimming                               Minor injury to head           N
310  Swimming                               Lacerations to scalp           N
321  Swimming                        Lacerations to left forearm           N
331  Swimming                                        Leg injured           N
335  Swimming                          Laceration to right ankle           N
345  Swimming  Severe injuries to lower legs. Foot later surg...           N
362  Swimming                                Lacerations to calf           N
378  Swimming   Minor injury when he attempted to touch a fish.          NaN

In [76]:
shark[['Injury','Activity']].value_counts()

Injury                                                                                           Activity
FATAL                                                                                            Swimming             99
                                                                                                 Surfing              31
Foot bitten                                                                                      Surfing              28
Left foot bitten                                                                                 Surfing              25
FATAL                                                                                            Bathing              23
                                                                                                                      ..
Initally reported as a shark attack, forensic examination concluded cause of death was drowning  Spearfishing          1
Injured but survived                                                                             Swimming              1
Injured by teeth of a dead porbeagle shark he was tossing overboard.                             Fishing               1
Injured while Sonieva was transferred to another canoe                                           Diving from canoe     1
�Put hand through hatch, shark nearly bit off thumb�                                             Hardhat diving        1
Length: 3413, dtype: int64

In [86]:
shark = shark[shark['Activity'].notna()]
shark.shape

(4085, 24)

In [87]:
shark.isnull().sum()

Case Number                  0
Date                         0
Year                         0
Type                         0
Country                      0
Area                        45
Location                    49
Activity                     0
Name                         5
Sex                         60
Age                        876
Injury                       1
Fatal (Y/N)                209
Time                      1288
Species                   1291
Investigator or Source       3
pdf                          0
href formula                 0
href                         0
Case Number.1                0
Case Number.2                0
original order               0
Unnamed: 22               4084
Unnamed: 23               4083
dtype: int64

In [89]:
shark.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4085 entries, 0 to 6301
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             4085 non-null   object
 1   Date                    4085 non-null   object
 2   Year                    4085 non-null   float64
 3   Type                    4085 non-null   object
 4   Country                 4085 non-null   object
 5   Area                    4040 non-null   object
 6   Location                4036 non-null   object
 7   Activity                4085 non-null   object
 8   Name                    4080 non-null   object
 9   Sex                     4025 non-null   object
 10  Age                     3209 non-null   object
 11  Injury                  4084 non-null   object
 12  Fatal (Y/N)             3876 non-null   object
 13  Time                    2797 non-null   object
 14  Species                 2794 non-null   object
 15  Investigator or Source  4082 non-null   object
 16  pdf                     4085 non-null   object
 17  href formula            4085 non-null   object
 18  href                    4085 non-null   object
 19  Case Number.1           4085 non-null   object
 20  Case Number.2           4085 non-null   object
 21  original order          4085 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 797.9+ KB

In [106]:
shark['Activity'].value_counts().sort_values(ascending=False).head(25)

Surfing            893
Swimming           635
Spearfishing       270
Fishing            230
Wading             131
Standing            86
Snorkeling          80
Bathing             79
Scuba diving        66
Diving              60
Body boarding       60
Body surfing        44
Swimming            36
Kayaking            33
Treading water      30
Boogie boarding     26
Free diving         23
Boogie Boarding     16
Walking             16
Windsurfing         16
Floating            13
Surf-skiing         11
Kayak Fishing       11
Scuba Diving         9
Surf fishing         9
Name: Activity, dtype: int64

In [107]:
shark = shark[shark['Fatal (Y/N)'].notna()]
shark.shape

(3876, 24)

In [120]:
!pip install pandas-profiling

Requirement already satisfied: pandas-profiling in c:\users\user\anaconda3\lib\site-packages (3.0.0)
Requirement already satisfied: visions[type_image_path]==0.7.1 in c:\users\user\anaconda3\lib\site-packages (from pandas-profiling) (0.7.1)
Requirement already satisfied: phik>=0.11.1 in c:\users\user\anaconda3\lib\site-packages (from pandas-profiling) (0.12.0)
Requirement already satisfied: pydantic>=1.8.1 in c:\users\user\anaconda3\lib\site-packages (from pandas-profiling) (1.8.2)
Requirement already satisfied: joblib in c:\users\user\anaconda3\lib\site-packages (from pandas-profiling) (1.0.1)
Requirement already satisfied: requests>=2.24.0 in c:\users\user\anaconda3\lib\site-packages (from pandas-profiling) (2.25.1)
Requirement already satisfied: scipy>=1.4.1 in c:\users\user\anaconda3\lib\site-packages (from pandas-profiling) (1.6.2)
Requirement already satisfied: numpy>=1.16.0 in c:\users\user\anaconda3\lib\site-packages (from pandas-profiling) (1.20.1)
Requirement already satisfied: pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3 in c:\users\user\anaconda3\lib\site-packages (from pandas-profiling) (1.2.4)
Requirement already satisfied: jinja2>=2.11.1 in c:\users\user\anaconda3\lib\site-packages (from pandas-profiling) (2.11.3)
Requirement already satisfied: missingno>=0.4.2 in c:\users\user\anaconda3\lib\site-packages (from pandas-profiling) (0.5.0)
Requirement already satisfied: tangled-up-in-unicode==0.1.0 in c:\users\user\anaconda3\lib\site-packages (from pandas-profiling) (0.1.0)
Requirement already satisfied: seaborn>=0.10.1 in c:\users\user\anaconda3\lib\site-packages (from pandas-profiling) (0.11.1)
Requirement already satisfied: PyYAML>=5.0.0 in c:\users\user\anaconda3\lib\site-packages (from pandas-profiling) (5.4.1)
Requirement already satisfied: matplotlib>=3.2.0 in c:\users\user\anaconda3\lib\site-packages (from pandas-profiling) (3.3.4)
Requirement already satisfied: tqdm>=4.48.2 in c:\users\user\anaconda3\lib\site-packages (from pandas-profiling) (4.59.0)
Requirement already satisfied: htmlmin>=0.1.12 in c:\users\user\anaconda3\lib\site-packages (from pandas-profiling) (0.1.12)
Requirement already satisfied: bottleneck in c:\users\user\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.1->pandas-profiling) (1.3.2)
Requirement already satisfied: attrs>=19.3.0 in c:\users\user\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.1->pandas-profiling) (20.3.0)
Requirement already satisfied: multimethod==1.4 in c:\users\user\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.1->pandas-profiling) (1.4)
Requirement already satisfied: networkx>=2.4 in c:\users\user\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.1->pandas-profiling) (2.5)
Requirement already satisfied: Pillow in c:\users\user\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.1->pandas-profiling) (8.2.0)
Requirement already satisfied: imagehash in c:\users\user\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.1->pandas-profiling) (4.2.1)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\user\anaconda3\lib\site-packages (from jinja2>=2.11.1->pandas-profiling) (1.1.1)
Requirement already satisfied: cycler>=0.10 in c:\users\user\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas-profiling) (0.10.0)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\user\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas-profiling) (2.8.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\users\user\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas-profiling) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\user\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas-profiling) (1.3.1)
Requirement already satisfied: six in c:\users\user\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib>=3.2.0->pandas-profiling) (1.15.0)
Requirement already satisfied: decorator>=4.3.0 in c:\users\user\anaconda3\lib\site-packages (from networkx>=2.4->visions[type_image_path]==0.7.1->pandas-profiling) (5.0.6)
Requirement already satisfied: pytz>=2017.3 in c:\users\user\anaconda3\lib\site-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3->pandas-profiling) (2021.1)
Requirement already satisfied: typing-extensions>=3.7.4.3 in c:\users\user\anaconda3\lib\site-packages (from pydantic>=1.8.1->pandas-profiling) (3.7.4.3)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\user\anaconda3\lib\site-packages (from requests>=2.24.0->pandas-profiling) (4.0.0)
Requirement already satisfied: idna<3,>=2.5 in c:\users\user\anaconda3\lib\site-packages (from requests>=2.24.0->pandas-profiling) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\user\anaconda3\lib\site-packages (from requests>=2.24.0->pandas-profiling) (2020.12.5)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\user\anaconda3\lib\site-packages (from requests>=2.24.0->pandas-profiling) (1.26.4)
Requirement already satisfied: PyWavelets in c:\users\user\anaconda3\lib\site-packages (from imagehash->visions[type_image_path]==0.7.1->pandas-profiling) (1.1.1)

In [121]:
from pandas_profiling import ProfileReport

In [123]:
profile = ProfileReport(shark)

In [124]:
profile.to_file('shark_clean.html')

Summarize dataset:   0%|          | 0/38 [00:00<?, ?it/s]

C:\Users\User\anaconda3\lib\site-packages\pandas_profiling\model\correlations.py:146: UserWarning: There was an attempt to calculate the cramers correlation, but this failed.
To hide this warning, disable the calculation
(using `df.profile_report(correlations={"cramers": {"calculate": False}})`
If this is problematic for your use case, please report this as an issue:
https://github.com/pandas-profiling/pandas-profiling/issues
(include the error message: 'No data; `observed` has size 0.')
  warnings.warn(

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]